<%= form_with(model: [@chatroom, message], class: "message_form #{dom_id(message)}_form") do |form| %>
  
  <% if message.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>
      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.text_field :content, autofocus: true %>
  <%= form.submit %>
  
<% end %>
