<%= turbo_frame_tag chatroom_joined do %>
  <article class="chatroom_card">
    
    <div class="chatroom_card_content">
      <h3 class="chatroom_card_title">
        <%= link_to chatroom_joined.name, 
              chatroom_url(chatroom_joined),
              data: { turbo_frame: "_top" }, 
              #class: "", 
              title: "Enter this Chatroom" %>
      </h3>
      <p class="chatroom_card_description"><%= chatroom_joined.description %></p>
      <p>Owner: <%= chatroom_joined.owner.username %></p>
      <p>
        <%= chatroom_joined.users.size %>
        <span class="material-icons">group</span>
      </p>
    </div>

    <div class="actions">
      <%= link_to "fullscreen", 
            chatroom_path(chatroom_joined), 
            data: { turbo_frame: "_top" }, 
            class: "btn material-icons-outlined", 
            title: "Enter Chatroom" %>

      <%= button_to "logout", 
              chatroom_leave_path(chatroom_joined), 
              method: :put, 
              class: "material-icons-outlined" %>
    </div>

  </article>
<% end %>